/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f1f1e4;
}

/* navigation bar */
.navbar_ab {
  background-color: #8a9b46;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
}

/* home button in navbar */
.navbar_ab a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}



/* blob picture */
#blob_section {
  position: fixed;
  right: 100px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

/* Veronica Nartatez */
#roni_name {
  display: inline-block;
  background-color: #c8d29d;
  color: black;
  padding: 6px 12px;

  border: 2px solid #8a9b46;
  border-radius: 8px;

  margin: 20px auto 10px;
  margin-bottom: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);

  font-family: 'Silkscreen',sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: x-large;
  text-align: center;
}

#roni_title {
  display: inline-block;
  background-color: hsl(71, 37%, 72%);
  color: grey;
  padding: 6px 1.2px;

  border: 2px solid #8a9b46;
  border-radius: 8px;

  margin: 0 auto 10px;
  margin-bottom: 0;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);

  font-family: 'Silkscreen',sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: small;
  text-align: center;
}

#blob_container {
  margin-top: 0;
  gap: 4px;
}

.icon-lg {
  width: 30px;
  height: 30px;
}


.main-content{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 40px;
}

.blob-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.character-stats{
  margin: 20px auto 10px;
}

.custom-card{
  background-color: #8a9b46;
  color: black;
  border: 2px solid #8a9b46;
  font-family: 'SilkScreen',sans-serif;
  justify-content: center;
}

.progress-bar{
  background-color: #FFC0CB;
  color: grey;
}

.card-header{
  font-size: x-large;
}



