body {
    background-color: #d6e8b5;
  }

  /* blob picture */
#roni_pic {
    text-align: right;
}

#roni_blob {
    display: inline-block;
}

/* Veronica Nartatez */
#roni_name {
    font-family: sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: xx-large;
    text-align: right;
  }

/* 3rd Year Computer Science Student*/
#roni_title {
    font-family: sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: large;
    text-align: right;
}

/* character bio*/
#roni_bio {
    font-family: sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: x-small;
    text-align: center;
    color: grey;
}

#work_text {
    font-family: sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: xx-large;
    text-align: left;
}

