/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f1f1e4;
}

/* navigation bar */
.navbar_ab {
  background-color: #8a9b46;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
}

/* home button in navbar */
.navbar_ab a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* other buttons in navbar */
.navbar_ab a.nav_hyper {
  float: right;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.navbar_ab a:hover {
  background-color: #4e5826;
  color: white;
}

/* Add a color to the active/current link */
.navbar_ab a.active {
  background-color: #4e5826;
  color: white;
}

/* blob picture */
#blob_section {
  position: fixed;
  right: 100px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

/* Veronica Nartatez */
#roni_name {
  display: inline-block;
  background-color: #c8d29d;
  color: black;
  padding: 6px 12px;

  border: 2px solid #8a9b46;
  border-radius: 8px;

  margin: 20px auto 10px;
  margin-bottom: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);

  font-family: 'Silkscreen',sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: x-large;
  text-align: center;
}

#roni_title {
  display: inline-block;
  background-color: hsl(71, 37%, 72%);
  color: grey;
  padding: 6px 1.2px;

  border: 2px solid #8a9b46;
  border-radius: 8px;

  margin: 0 auto 10px;
  margin-bottom: 0;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);

  font-family: 'Silkscreen',sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: small;
  text-align: center;
}

#blob_container {
  margin-top: 0;
  gap: 4px;
}

.icon-lg {
  width: 30px;
  height: 30px;
}

#current-projects {
  font-family:sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: x-large;
  text-align: left;
}

.main-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 40px;
}

.project-grid{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 20px;
  gap: 10px;
  align-items: stretch;
}

.projects{
  flex: 1 1 0;
}

.card {
  display: flex;
  width: 200px;
  height: auto;
  background-color: #8a9b46; 
  padding: 10px;
}


.blob-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  align-items: center;
  flex: 1 1 0;
}

.btn-primary {
  --bs-btn-color: black;
  --bs-btn-bg: pink;
  --bs-btn-border-color: pink;
  --bs-btn-hover-color: black ;
  --bs-btn-hover-bg: rgb(221, 137, 151);
  --bs-btn-hover-border-color: rgb(221, 137, 151);
  --bs-btn-focus-shadow-rgb: 225, 83, 97;
  --bs-btn-active-color: black;
  --bs-btn-active-bg: pink;
  --bs-btn-active-border-color: pink;
  --bs-btn-active-shadow: inset 0 3px 5px
}

